@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab);
@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:Light);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);
@import url(https://fonts.googleapis.com/css?family=Cousine);
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
  font-size: 11px;
}

* {
    box-sizing: border-box;
}

.person {
  font-family: 'Roboto Mono';
  font-size: 48px;
  margin-bottom:5px;
}
.person.caption {
  color:black;
  font-family: 'Cousine';
  font-size: 16px;
  margin-bottom: 0px;
}
.person.contact {
  font-family: 'Inconsolata';
  font-size: 12px;
}
.section {
  font-family: 'Roboto Mono';
  font-size: 20px;
}
.item {
  font-family: 'Roboto';
  font-weight: 500;
  margin-top:20px;
  margin-bottom:0px;
  font-size: 14px;
  line-height: 14px; 
}

.item.caption {
  font-family: 'Inconsolata';
  font-weight: normal;
  margin-top:5px;
  margin-bottom:5px;
  font-size: 12px;
  line-height: 10px;
}
.item.description.ul {
  font-family: 'Open Sans', serif;
  font-weight: lighter;
  margin-top:5px;
  margin-bottom:5px;
  font-size: 10px;
  line-height: 10px;
  padding: 5px;
  margin-left:15px;
}
.item.description.p {
  font-family: 'Open Sans', serif;
  font-weight: lighter;
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 10px;
  line-height: 10px;
  padding: 0px;
}

.person, .section {
  color: #536DFE;
  -webkit-print-color-adjust: exact; 
}

span {
  color:gray;
  -webkit-print-color-adjust: exact; 
}

ul {
  padding: 5px;
}

div {
  border-radius: 5px;
}
a {
  color: black;
  text-decoration: none;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    /*height: 300px;  Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.first-column {
    width: 66%;
    padding: 0 10px 0 0;
    float: left;
}

.second-column {
    width: 33%;
    padding: 0 10px 0 0;
    float: right;
}

#header {
  height: 40px;
  width: 100%;
  background-color: #ffcccc;
  position: fixed;
  z-index: 1;
}
#footer {
  height: 50px;
  width: 100%;
  background-color: #ffcccc;
  clear: both;
  position: relative;
}